.section {
    background-color: #ddeefc;
    margin: 0px;
    .card {
        box-sizing: border-box;	
        border: 1px solid #F0F0F0;	
        border-radius: 6px;	
        box-shadow: 0 3px 22px -7px rgba(0,0,0,0.09);
        margin: 24px;
        padding: 24px;
        background-color: #ffffff;
        display: flex;
        .left-section {
            width: 40%;
            margin: 8px;
        }
        .seperator-line {
            width: 10%;
            margin-left: 10%;;
            border-left: 1px solid #000000;
        }
        .item-card {
        box-sizing: border-box;	
        border: 1px solid #F0F0F0;	
        border-radius: 6px;	
        box-shadow: 0 3px 22px -7px rgba(0,0,0,0.09);
        margin: 8px;
        padding: 16px;
        background-color: #ffffff;
        display: flex;
        .checkbox {
            width: 20px;
            height: 20px;
        }
        .item-text {
            color: red;
            margin-left: 10px;
        }
        }
        .item-card-right {
            @extend .item-card;
            justify-content: space-between;
        }
    }
}